
/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Fundamental Brigade";
    src: url('Fonts/fundamental brigade schlank.ttf') format('truetype');
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #090909;
    color: #f4f4f4;
}

/* Add your styles below */
main {
    text-align: center;
    font-family: "Open Sans";
    margin-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
    color: #d22d4b;
    font-family: "Fundamental Brigade";
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: #000000;
    color: #f4f4f4;
}

ul.horizontal-list {
    list-style: none;
}
ul.horizontal-list li {
    display: inline-block;
  }